apiVersion: v1
kind: ConfigMap
apiVersion: v1
metadata:
  name: alertmanager-config
  namespace: monitoring
data:
  config.yml: |-
    global:

    route:
      receiver: slack
      group_by: ["alertname", "namespace"]
      group_wait: 10s
      repeat_interval: 30m

    receivers:
    - name: slack
      slack_configs:
      - api_url_file: /etc/alertmanager/secrets/slack_webhook_url
        channel: itacademy-notifications
        title: "{{ .CommonLabels.alertname }}"
        text: "{{ .CommonAnnotations.description }}"
