---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: alertmanager-slack-webhook-url
  namespace: monitoring
spec:
  encryptedData:
    slack_webhook_url: AgAutgw2buZ+MyVprIcz0jZS4a+L2fDrz0MzCy7r/Wu639X82GE/0GmRW5CZvvJc+XH6Ejw96jD0L3qv20N7qc0nGftdA9EBI2yHaXgLkCr4QoS7ofQqpMOpureqrzqTa17kKBfZzVj3/PlDUg8mYYv52/xYMEln4x/TBpBlpyxv1+YUqNApsLK/SIffOjKx3rmye9I50gQe4kR/iwUf+uJfoUI4D6IGki+yA+4COnfK1WakXxCU2edpm1ZHw7ggurEPV3buLBuCSF07tlvIbjX43AKjeU0jk8r/KcNGqxOypDy1SHQJQmrHwIM3p5m9xaP1ss+dwqXyRL8CrGpAMGPIfLa7fpYfEM1HlY4L2IzXrFEr3R6QUIWNcP8jMoACpDTLFBO4W6PwcIRm74JODB43/Fd0NrfevXaWdTFm5Yr/UDTpCBSU1WHo9Tjx/ksUeHFssWEH2UITmHB/VJwIcDOwVtzAvE95mv2dXDcpTwybJgaKnPZvl4ogohWZQnODE7OriEeY+bsk4ZI099X1uTYmaavV60qTe3OLg1B9E5r405SrmHQSoAB3RpuYrSZtKJ6SuAKPJhPROtRuYTIy+SDnNWKnH/0W2dUb5Wm8nPeHLA5bM691DIkgg6ejaYlk6qYifEq4DSji72/jGnIyKhs0dQJUEt9U6Zq/mGjmo2jVOH0+Gr05NKpyZ6hb9BpHMNHbENTsiXz/T9MFjgaN5uJxsJw68VZdjpKm7JMYJ+jRW49ycFnIUNmmwR/hMg2eIMo3khpn2f1spePMmKoMPcxfwOWsdAHyveBG6TyEDoXrQlY=
  template:
    metadata:
      name: alertmanager-slack-webhook-url
      namespace: monitoring
